#button1 {
    color: #FFFFFF;
    background-color: #000000;
}


#button2 {
    color: #00FF00;
    background-color: #FF0000;
}


#button3 {
    color: #FF00FF;
    background-color: #FF7800;
}


#button4 {
    color: #aa3300;
    background-color: #556677;
}


#button5 {
    color: #000000;
    background-color: #2211FF;
}
