
#site-title {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

#site-footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}


.nav-link {
    color: #4CAF50;
    text-decoration: none;
    padding: 0 10px;
}

.nav-link:hover {
    text-decoration: underline;
}


main p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}


.highlight {
    background-color: #FFFF99;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}
